**Esercizio 1**

Caricare in una opportuna struttura dati i cognomi degli studenti della 3E e scrivere il codice Python necessario per rispondere alle seguenti richieste:

In [ ]:
classe = ["Avasiloae", "Bernasconi", "Cottone", "D'Arienzo", "Dipace", "Lotorto", "Geremicca", "Fontana", "Papes", "El Allami", "Leone", "Finessi", "Poliseno", "Muhammad", "Neri", "Milella"]
classe.sort()
print(classe)

['Avasiloae', 'Bernasconi', 'Cottone', "D'Arienzo", 'Dipace', 'El Allami', 'Finessi', 'Fontana', 'Geremicca', 'Leone', 'Lotorto', 'Milella', 'Muhammad', 'Neri', 'Papes', 'Poliseno']

1. Visualizzare lo studente che si trova al numero 10 dell'elenco

In [ ]:
print(classe[9])

Leone

2. Visualizzare i primi 10 studenti

In [ ]:
print(classe[0:10])

['Avasiloae', 'Bernasconi', 'Cottone', "D'Arienzo", 'Dipace', 'El Allami', 'Finessi', 'Fontana', 'Geremicca', 'Leone']

3. Visualizzare i 5 studenti centrali

In [ ]:
centrale = int(len(classe)/2)
print(classe[centrale-3:centrale+2])

['El Allami', 'Finessi', 'Fontana', 'Geremicca', 'Leone']

4. Il docente di informatica deve interrogare uno studente: visualizzare in modo casuale (tramite codice ovviamente..:) il cognome di uno studente

In [ ]:
import random
print(classe[random.randint(0, len(classe)-1)])

Neri

5. Il docente di informatica deve interrogare tre studenti: visualizzare in modo casuale (tramite codice ovviamente...) il cognome di tre studenti. Fare in modo che il cognome non possa ripetersi.

In [ ]:
import random
noninterrogati = classe.copy()
for indice in range(3):
  studente = random.randint(0, len(noninterrogati)-1)
  if noninterrogati[studente] in noninterrogati:      
    print(noninterrogati[studente])
    noninterrogati.remove(noninterrogati[studente])

Avasiloae
Papes
Geremicca

6. Aggiungere in coda all'elenco un nuovo studente, Antonio Greco. Dopo l'inserimento, visualizzare il nuovo elenco di nominativi ordinato in ordine alfabetico.

In [ ]:
classe.extend(["Greco"])
classe.sort()
print(classe)

['Avasiloae', 'Bernasconi', 'Cottone', "D'Arienzo", 'Dipace', 'El Allami', 'Finessi', 'Fontana', 'Geremicca', 'Greco', 'Leone', 'Lotorto', 'Milella', 'Muhammad', 'Neri', 'Papes', 'Poliseno']

**Esercizio 2**

1. Caricare una lista con 100 numeri casuali interi, compresi tra 0 e 30 (estremi inclusi)

In [ ]:
lista1 = [random.randint(0, 30) for indice in range(100)]
print(lista1)

[10, 9, 8, 30, 27, 28, 15, 22, 16, 23, 18, 12, 16, 1, 8, 12, 15, 25, 6, 23, 17, 24, 30, 16, 23, 26, 8, 9, 20, 22, 3, 7, 20, 15, 24, 0, 28, 20, 16, 16, 0, 19, 5, 3, 10, 20, 1, 1, 14, 15, 7, 4, 24, 25, 12, 1, 29, 10, 9, 24, 20, 13, 25, 7, 5, 17, 10, 5, 2, 25, 29, 9, 21, 22, 22, 30, 1, 13, 7, 13, 16, 1, 21, 26, 17, 8, 10, 28, 25, 29, 9, 9, 7, 15, 6, 15, 26, 10, 13, 19]

2. Caricare in una nuova lista solo i numeri dispari

In [ ]:
listadispari = []
for indice in range(len(lista1)):
  if lista1[indice] % 2 != 0:
    listadispari.extend([lista1[indice]])
print(listadispari)

[9, 27, 15, 23, 1, 15, 25, 23, 17, 23, 9, 3, 7, 15, 19, 5, 3, 1, 1, 15, 7, 25, 1, 29, 9, 13, 25, 7, 5, 17, 5, 25, 29, 9, 21, 1, 13, 7, 13, 1, 21, 17, 25, 29, 9, 9, 7, 15, 15, 13, 19]

3. Eliminare dalla seconda lista tutti i multipli di 3

In [ ]:
for numero in listadispari:
  if numero % 3 == 0:
    listadispari[listadispari.index(numero)] = 0
for indice in range(listadispari.count(0)):
  if listadispari[indice] == 0:
    listadispari.remove(0)
print(listadispari)

[0, 0, 0, 23, 1, 0, 25, 23, 17, 23, 0, 0, 7, 0, 19, 5, 0, 1, 1, 0, 7, 25, 1, 29, 0, 13, 25, 7, 5, 17, 5, 25, 29, 0, 0, 1, 13, 7, 13, 1, 0, 17, 25, 29, 0, 0, 7, 0, 0, 13, 19]
[23, 1, 25, 23, 17, 23, 7, 19, 5, 0, 1, 1, 0, 7, 25, 1, 29, 0, 13, 25, 7, 5, 17, 5, 25, 29, 0, 0, 1, 13, 7, 13, 1, 0, 17, 25, 29, 0, 0, 7, 0, 0, 13, 19]

4. Caricare in una nuova lista tutti i numeri maggiori di 10 e minori di 20

In [ ]:
lista2 =[indice+11 for indice in range(9)]
print(lista2)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

5. Moltiplicare per 10 tutti i numeri della lista precedente

In [ ]:
lista2 =[lista2[indice]*10 for indice in range(9)]
print(lista2)

[110, 120, 130, 140, 150, 160, 170, 180, 190]

6. Mettere in un'unica lista tutti i valori presenti nelle liste precedentemente create.

In [ ]:
listaunica = []
listaunica.extend(lista1)
listaunica.extend(listadispari)
listaunica.extend(lista2)
print(listaunica)

[10, 9, 8, 30, 27, 28, 15, 22, 16, 23, 18, 12, 16, 1, 8, 12, 15, 25, 6, 23, 17, 24, 30, 16, 23, 26, 8, 9, 20, 22, 3, 7, 20, 15, 24, 0, 28, 20, 16, 16, 0, 19, 5, 3, 10, 20, 1, 1, 14, 15, 7, 4, 24, 25, 12, 1, 29, 10, 9, 24, 20, 13, 25, 7, 5, 17, 10, 5, 2, 25, 29, 9, 21, 22, 22, 30, 1, 13, 7, 13, 16, 1, 21, 26, 17, 8, 10, 28, 25, 29, 9, 9, 7, 15, 6, 15, 26, 10, 13, 19, 27, 23, 1, 25, 23, 17, 23, 7, 19, 5, 3, 1, 1, 7, 25, 1, 29, 13, 25, 7, 5, 17, 5, 25, 29, 1, 13, 7, 13, 1, 21, 17, 25, 29, 9, 7, 15, 13, 19]